.jumbotron {
  background: url("https://img5.goodfon.com/wallpaper/nbig/3/98/abstraktnyi-geometricheskii-linii-background-fon.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 1px 1px 1px black;
}

.error {
    color: red;
    font-style: italic;
}
