.front {
  background: url(images/uni.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 1px 1px 2px black;
}

footer {
      background: url(https://img.freepik.com/free-vector/black-polygonal-seamless-pattern-with-triangles-dark-repeating-geometric-texture-with-extruded-surface-effect-illustration-background-wallpaper-interior-textile-wrapping-paper-print_278395-91.jpg) !important;
      background-size: contain;
  }
