.jumbotron.jumbotron-fluid {
    background: url(https://image.freepik.com/free-vector/gradient-geometric-background_52683-54199.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 1px 1px 2px white;
}
