* {
box-sizing: border-box;
}
h1, h2, nav ul li, button {
font-family: 'Oswald', sans-serif;
}
h3,p, ul li, a {
font-family: 'arial', sans-serif;
font-weight: lighter;
}
body {
margin: 0;
padding: 0;
}
a {
text-decoration: none;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 17%);
    background: #ececec;
}

body::-webkit-scrollbar-thumb {
    background-color: #36658a;
    border-radius: 7px;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 50px;
    background: white;
    box-shadow: 1px 1px 4px grey;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: background 300ms, height 300ms;
}

.hamburger {
    display: none;
}

header.nav-trans {
    background: #333333 !important;
}

.logo {
    width: 150px;
    position: absolute;
    top: 13px;
    left: 40px;
}

img {
    max-width: 100%;
}

.logo {}

nav {
    position: absolute;
    top: -5px;
    right: 10px;
    font-family: 'arial';
}

nav ul {
    list-style: none;
    display: inline-flex;
}

nav ul li a {
    color: #353535;
    text-decoration: none;
    margin: 0px 5px;
    padding: 5px 15px;
}


header.nav-trans nav a {
    color: white;
}

nav .active {
    color: #2196F3 !important;
}

.front-banner {
    height: 80vh;
    background: url(images/bg1.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    margin-top: 50px;
    text-align: center;
}

.container {
    max-width: 1000px;
    width: 90%;
    height: 100%;
    margin: auto;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 10px 0;
}

.col-2 {
    height: 100%;
    align-items: center;
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1000px;
    height: 100%;
}

.row {
    margin: 40px 0;
}

.resources {
    display: flex;
}

.outline {
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.small-box {
  width: 100%;
  padding: 5px;
}

.small-box:hover {
    box-shadow: 0 0 10px #c5c5c5;
    background: #e5eaf1;
}

.img-side img {
    width: 50px;
    height: auto;
    object-fit: contain;
    margin: 12px;
}

.resources h1 {
    margin-right: 40px;
}

.img-side {
    display: flex;
}

.big-box {
    box-shadow: 0 0 20px grey;
    border-radius: 20px;
    padding: 5%;
    background: WHITE;
}

.features.big-box {
    margin: 50px 0;
}

.feature-head {
    text-align: center;
    margin: 28px 20px;
}

.dark-bg {
    background: url(images/bg2.jpg);
    background-size: cover;
}

.features.big-box {
    background: white;
}
.feature-head {
    text-align: center;
    margin: 28px 20px;
}

.dark-bg {
    background: url(images/bg2.jpg);
    background-size: cover;
}

.features.big-box {
    background: white;
}

.proof {
    color: white;
    text-align: center;
}

button {
    background: none;
    border: 1px solid white;
    border-radius: 35px;
    padding: 5px 30px;
    color: white;
}

.info-block {
    background: white;
    border-radius: 13px;
    padding: 5px 15px;
    text-align: center;
    position: relative;
    margin: 60px 0;
}

.img-wrap {
    position: absolute;
    top: -61px;
    width: 100%;
    margin-left: -15px;
}

.img-wrap img {
    width: 85px;
    border-radius: 100%;
}

.info.col-3 {
    margin-top: 85px;
}

.chart {
    text-align: center;
}

.chart img {
    width: 60%;
}

footer {
    background: #081c3a;
    color: white;
    padding: 50px 20px;
}

label, input {
    display: block;
    margin: 5px 0;
    font-family: 'Oswald';
    width: 100;
}

input[type="text"] {
    width: 100%;
}

form button {
    background: #081c3a;
    margin: 10px 0;
}
@media screen and (max-width: 786px) {
  .col-2, .col-3 {
    display: block;
  }
  .col-3 > div, .col-2 > div {
      margin: 1rem 0;
  }

.mt-5 {
  margin-top: 50px;
}
  .hamburger {
    display: initial;
  }

  nav {
    position: fixed;
    top: 50px;
    right: -260px;
    background: white;
    box-shadow: -1px 3px 5px grey;
    transition: right 350ms;
    background-image: url(images/bg2.jpg) !important;
    background-size: 196%;
    background-position: right;
    background-position-y: -185px;
    background-repeat: no-repeat;
}

.slide {
  right: 0px;
}

body {
  position: relative;
  right: 0px;
  transition: right 400ms;
}

.slide-right {
  right:200px;
}
nav ul {
    display: block;
    height: 100vh;
}
nav a {
  color: white !important;
}
nav ul li {
    margin: 35px;
    width: 50%;
    border-bottom: 2px solid #1d1d1d;
    padding-bottom: 5px;
    background: none;
    transition: width 200ms, border-bottom 200ms;
}

nav ul li:hover {
    border-bottom: 5px solid lightblue;
    width: 100%;
}


.hamburger {
    display: block;
    position: absolute;
    top: 0px;
    right: 30px;
    height: 40px;
    font-size: 31px;
}

.hamburger a:hover {
    color: grey;

}

.hamburger a {
    background: white;
    border: 1px solid white;
    border-radius: 5px;
}

.front-banner .left {
    padding-top: 10vh;
}

.governance.big-box {
    text-align: center;
}

.info-block {
    margin: 85px 0 !important;
}

}
