.jumbotron {
    background: url(https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-technology-future-25d-isometric-gradient-background-5disometricgradientbackground-image_53995.jpg);
    text-shadow: 1px 1px 1px black;
    background-size: cover;
    background-position-y: top;
}

.error {
    color: red;
    font-style: italic;
}

button a {
  color: white !important;
}

.post img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.shrinkStart {
  height: 200px;
  transform: scale(1);
  transition: transform 500ms, height 800ms;
}

.shrinkFinish {
  height: 0px;
  transform: scale(0);
}

.card button {
    opacity: 0.4;
    transition: opacity 300ms;
}

.card:hover button {
    opacity: 1;
}

.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #000000b5;
  opacity: 0;
  transition: opacity 300ms;
}

.overlay .alert {
  width: 50%;
  margin: 40vh auto;
}

.comment-wrapper {
  transform: scaleY(1);
  transition: transform 500ms;
}
.shrink {
  transform: scaleY(0);
}
